td.Clicked {
	background-color: #00FF00;
}
td.UnClicked {
	background-color: #33CC33;
}
td.Game {
	padding: 10px;
	text-align: center;
	border-color: black;
	font-size:10px;
	border-style: groove;
	border-width:1px 1px 1px 1px;
	width:30px;
	height:30px;
}
td.Display {
	text-align: center;
	border-style: groove;
	font-size:15px;
	border-width:1px 1px 1px 1px;
	border-color: black;
	height:50px;
	width:100px;
}
td {
	text-align: right;
}
img {
	   max-width:80%;
	   max-height:80%;
}
div#gameover {
	font-size:20px;
	color: red;
	text-align: center;
}
